{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    },
    "globals": {
        "global": "readonly"
    }
}
